.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px 0 0 0;
}

.actions {
  display: flex;
  gap: 100px;
  padding: 50px;
  width: 100%;
}

.userContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.userList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userActions {
  flex: 1;
}
