.container {
  display: flex;
  gap: 100px;
}
.userContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.nameContainer {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  gap: 15px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.updateForm {
  flex: 1;
}
