.container {
  padding: 20px;
  background: var(--bgSoftColor);
  gap: 20px;
}
.inputArea {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputArea input {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  background: gray;
  color: black;
  width: 100%;
}

.button {
  padding: 10px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background: var(--bgSoftColor);
  color: gray;
  border: 1px solid var(--textColor);
  min-width: 120px;
  margin-top: 20px;
}
